/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.title {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

[data-theme='dark'] .title {
  color: #fff;
}

.subtitle {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 2rem;
}

[data-theme='dark'] .subtitle {
  color: #fff;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

[data-theme='dark'] .cardTitle {
  color: #fff;
}
